@import "@repo/ui/globals.css";

@source "../../../packages/ui/src/**/*.{ts,tsx}";

.imgDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .imgLight {
    display: none;
  }

  .imgDark {
    display: unset;
  }
}
